<ion-view hide-nav-bar="true" class="front-page"  style="background:#c27cf0;">

    <ion-content scroll="false">



		<style type="text/css">
			 #splashimg{margin-top: 25%;}
			 .classsplashimg{margin-top: 18%;}
		</style>
		<div id="splashimg">
			<center>
			    <img src="img/intern2.png" width="80%;">
			    <!--<img class="classsplashimg" src="img/loading2.gif" width="25%" height="25%">
			    <p>Loading</p>-->
		        <!--<div class="item card"  style="width:45%;">

		            <button class="button button-block button-positive" ui-sref="home"  style="background:#c27cf0;" >GO</button>

		        </div><br>--><br><br>
		        <!--<img src="img/hourglass.svg" style="width:40%;height:50%">-->
		        <object id="svg1" data="img/hourglass.svg" style="width:30%;height:40%" type="image/svg+xml"></object>
		    </center>
		</div>

    </ion-content>

</ion-view>